# ANN Classification model to predict the Customer Churn of different customers.

In [54]:
import numpy as np
import pandas as pd
import tensorflow as tf
url = "C:\\Users\\rohini\\Documents\\ai_learn\\python_learn\\Assignment\\Assignment_1\\Churn_Modelling.csv"
df = pd.read_csv(url)
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### c.Label Encoding or Dummy variable creation for encoding categorical columns?

In [56]:
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv(url)

label_encoder=LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df = pd.get_dummies(df,columns = ['Geography'],drop_first = False)
df[['Geography_France', 'Geography_Germany', 'Geography_Spain']] = df[['Geography_France', 'Geography_Germany', 'Geography_Spain']].astype(int)

df

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,2,15647311,Hill,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,3,15619304,Onio,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,4,15701354,Boni,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,5,15737888,Mitchell,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,1,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,9997,15569892,Johnstone,516,1,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,9998,15584532,Liu,709,0,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,9999,15682355,Sabbatini,772,1,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,10000,15628319,Walker,792,0,28,4,130142.79,1,1,0,38190.78,0,1,0,0

## 3. Select x (independent variable) and y (dependent variable) - Exited(1 or 0)

In [74]:
y = df['Exited']
print(y)

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [76]:
x = df.drop(columns=['Exited'])
df

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,2,15647311,Hill,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,3,15619304,Onio,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,4,15701354,Boni,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,5,15737888,Mitchell,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,1,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,9997,15569892,Johnstone,516,1,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,9998,15584532,Liu,709,0,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,9999,15682355,Sabbatini,772,1,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,10000,15628319,Walker,792,0,28,4,130142.79,1,1,0,38190.78,0,1,0,0

## 4. Split data into training and test data

In [79]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,stratify=y,random_state = 0)

In [81]:
print('\nTraining Features :\n')
print(x_train)
print('\n Testing Features :\n')
print(x_test)
print('\n Training Target :\n')
print(y_train)
print('\nTesting Traget :\n')
print(y_test)

Training Features :

      RowNumber  CustomerId    Surname  CreditScore  Gender  Age  Tenure  \
493         494    15725679       Hsia          531       0   47       6
6839       6840    15768282      Perez          724       1   36       6
170         171    15587562    Hawkins          484       0   29       4
4958       4959    15594502      Zotov          655       1   37       6
4271       4272    15707132      Yudin          465       1   33       5
...         ...         ...        ...          ...     ...  ...     ...
6727       6728    15610416   Christie          745       0   36       9
4674       4675    15689492   Benjamin          850       1   41       1
6399       6400    15738501      Booth          601       1   48       9
872         873    15794549    Andrews          722       0   35       2
8389       8390    15715345  Sergeyeva          743       1   25       6

        Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
493        0.00              1          0               0        194998.34
6839   94615.11              2          1               1         10627.21
170   130114.39              1          1               0        164017.89
4958  109093.41              2          1               0          1775.52
4271       0.00              2          0               1         78698.09
...         ...            ...        ...             ...              ...
6727       0.00              1          1               0         19605.18
4674  176958.46              2          0               1        125806.30
6399  163630.76              1          0               1         41816.49
872   163943.89              2          1               1         15068.18
8389       0.00              2          1               0        129740.11

      Geography_France  Geography_Germany  Geography_Spain
493                  1                  0                0
6839                 0                  1                0
170                  1                  0                0
4958                 1                  0                0
4271                 1                  0                0
...                ...                ...              ...
6727                 1                  0                0
4674                 0                  1                0
6399                 0                  1                0
872                  1                  0                0
8389                 0                  0                1

[8000 rows x 15 columns]

 Testing Features :

      RowNumber  CustomerId    Surname  CreditScore  Gender  Age  Tenure  \
1344       1345    15691104    Kennedy          460       0   40       6
8167       8168    15793135       Wang          713       0   24       7
4747       4748    15702380    De Luca          663       1   64       6
5004       5005    15625092    Colombo          502       0   57       3
3124       3125    15795224         Wu          760       1   39       6
...         ...         ...        ...          ...     ...  ...     ...
9107       9108    15617434        Yen          655       1   38       9
8249       8250    15727421  Anayolisa          586       0   38       6
8337       8338    15568519       Wood          534       1   41       9
6279       6280    15608338  Chiemenam          757       0   55       9
412         413    15686302       Fisk          745       0   31       3

        Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
1344  119507.58              2          1               0         91560.63
8167  147687.24              1          1               1        121592.50
4747       0.00              2          0               1         15876.52
5004  101465.31              1          1               0         43568.31
3124  178585.46              1          1               0         67131.30
...         ...            ...        ...             ...              ...
9107       0.00              1          0               1         90490.33
8249       0.00              2          1               1         37935.83
8337       0.00              2          1               0         13871.34
6279  117294.12              4          1               0         94187.47
412   124328.84              1          1               1        140451.52

      Geography_France  Geography_Germany  Geography_Spain
1344                 0                  1                0
8167                 0                  1                0
4747                 0                  0                1
5004                 0                  1                0
3124                 1                  0                0
...                ...                ...              ...
9107                 0                  0                1
8249                 1                  0                0
8337                 1                  0                0
6279                 0                  0                1
412                  0                  0                1

[2000 rows x 15 columns]

 Training Target :

493     1
6839    0
170     0
4958    0
4271    0
       ..
6727    1
4674    0
6399    1
872     0
8389    0
Name: Exited, Length: 8000, dtype: int64

Testing Traget :

1344    1
8167    0
4747    0
5004    1
3124    1
       ..
9107    0
8249    0
8337    0
6279    1
412     0
Name: Exited, Length: 2000, dtype: int64

In [83]:
x_train=x_train.drop(columns=['Surname'])
x_test=x_test.drop(columns=['Surname'])

In [85]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

## 5.Apply the ANN Classification model on the training dataset and generate the predicted value for the test dataset

In [88]:
df = df.apply(pd.to_numeric, errors='coerce')
print(df.dtypes)

RowNumber              int64
CustomerId             int64
Surname              float64
CreditScore            int64
Gender                 int32
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Geography_France       int32
Geography_Germany      int32
Geography_Spain        int32
dtype: object

In [90]:
print(df.corr())

                   RowNumber  CustomerId  Surname  CreditScore    Gender  \
RowNumber           1.000000    0.004202      NaN     0.005840  0.018196
CustomerId          0.004202    1.000000      NaN     0.005308 -0.002641
Surname                  NaN         NaN      NaN          NaN       NaN
CreditScore         0.005840    0.005308      NaN     1.000000 -0.002857
Gender              0.018196   -0.002641      NaN    -0.002857  1.000000
Age                 0.000783    0.009497      NaN    -0.003965 -0.027544
Tenure             -0.006495   -0.014883      NaN     0.000842  0.014733
Balance            -0.009067   -0.012419      NaN     0.006268  0.012087
NumOfProducts       0.007246    0.016972      NaN     0.012238 -0.021859
HasCrCard           0.000599   -0.014025      NaN    -0.005458  0.005766
IsActiveMember      0.012044    0.001665      NaN     0.025651  0.022544
EstimatedSalary    -0.005988    0.015271      NaN    -0.001384 -0.008112
Exited             -0.016571   -0.006248      NaN    -0.027094 -0.106512
Geography_France    0.008590   -0.004049      NaN    -0.008928  0.006772
Geography_Germany  -0.000044   -0.003097      NaN     0.005538 -0.024628
Geography_Spain    -0.009905    0.007800      NaN     0.004780  0.016889

                        Age    Tenure   Balance  NumOfProducts  HasCrCard  \
RowNumber          0.000783 -0.006495 -0.009067       0.007246   0.000599
CustomerId         0.009497 -0.014883 -0.012419       0.016972  -0.014025
Surname                 NaN       NaN       NaN            NaN        NaN
CreditScore       -0.003965  0.000842  0.006268       0.012238  -0.005458
Gender            -0.027544  0.014733  0.012087      -0.021859   0.005766
Age                1.000000 -0.009997  0.028308      -0.030680  -0.011721
Tenure            -0.009997  1.000000 -0.012254       0.013444   0.022583
Balance            0.028308 -0.012254  1.000000      -0.304180  -0.014858
NumOfProducts     -0.030680  0.013444 -0.304180       1.000000   0.003183
HasCrCard         -0.011721  0.022583 -0.014858       0.003183   1.000000
IsActiveMember     0.085472 -0.028362 -0.010084       0.009612  -0.011866
EstimatedSalary   -0.007201  0.007784  0.012797       0.014204  -0.009933
Exited             0.285323 -0.014001  0.118533      -0.047820  -0.007138
Geography_France  -0.039208 -0.002848 -0.231329       0.001230   0.002467
Geography_Germany  0.046897 -0.000567  0.401110      -0.010419   0.010577
Geography_Spain   -0.001685  0.003868 -0.134892       0.009039  -0.013480

                   IsActiveMember  EstimatedSalary    Exited  \
RowNumber                0.012044        -0.005988 -0.016571
CustomerId               0.001665         0.015271 -0.006248
Surname                       NaN              NaN       NaN
CreditScore              0.025651        -0.001384 -0.027094
Gender                   0.022544        -0.008112 -0.106512
Age                      0.085472        -0.007201  0.285323
Tenure                  -0.028362         0.007784 -0.014001
Balance                 -0.010084         0.012797  0.118533
NumOfProducts            0.009612         0.014204 -0.047820
HasCrCard               -0.011866        -0.009933 -0.007138
IsActiveMember           1.000000        -0.011421 -0.156128
EstimatedSalary         -0.011421         1.000000  0.012097
Exited                  -0.156128         0.012097  1.000000
Geography_France         0.003317        -0.003332 -0.104955
Geography_Germany       -0.020486         0.010297  0.173488
Geography_Spain          0.016732        -0.006482 -0.052667

                   Geography_France  Geography_Germany  Geography_Spain
RowNumber                  0.008590          -0.000044        -0.009905
CustomerId                -0.004049          -0.003097         0.007800
Surname                         NaN                NaN              NaN
CreditScore               -0.008928           0.005538         0.004780
Gender                     0.006772          -0.024628         0.016889
Age                       -0.039208           0.046897        -0.001685
Tenure                    -0.002848          -0.000567         0.003868
Balance                   -0.231329           0.401110        -0.134892
NumOfProducts              0.001230          -0.010419         0.009039
HasCrCard                  0.002467           0.010577        -0.013480
IsActiveMember             0.003317          -0.020486         0.016732
EstimatedSalary           -0.003332           0.010297        -0.006482
Exited                    -0.104955           0.173488        -0.052667
Geography_France           1.000000          -0.580359        -0.575418
Geography_Germany         -0.580359           1.000000        -0.332084
Geography_Spain           -0.575418          -0.332084         1.000000

In [93]:
from sklearn.impute import SimpleImputer


imputer = SimpleImputer(strategy='mean')
x_train = imputer.fit_transform(x_train)
x_test = imputer.fit_transform(x_test)

In [96]:
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.regularizers import l2
from tensorflow.keras.layers import Dense, Dropout

ann = tf.keras.models.Sequential()
ann.add(tf.keras.layers.Dense(units = 32,kernel_regularizer=l2(0.01),activation = 'relu'))
ann.add(tf.keras.layers.Dense(units = 16,kernel_regularizer=l2(0.01),activation = 'relu'))

ann.add(Dropout(0.3))  


ann.add(tf.keras.layers.Dense(units = 1,activation = 'sigmoid'))


optimizer = Adam(learning_rate=0.0005)  


ann.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

ann.fit(x_train,y_train,batch_size = 32,epochs = 100)

y_pred = ann.predict(x_test)
y_pred = (y_pred>0.5).astype(int)
np.set_printoptions(precision = 2)
y_test_array = y_test.to_numpy()

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.6257 - loss: 1.0185
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 993us/step - accuracy: 0.7931 - loss: 0.7454
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7963 - loss: 0.6338
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8077 - loss: 0.5681
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8151 - loss: 0.5228
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8256 - loss: 0.4865
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8282 - loss: 0.4666
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8371 - loss: 0.4561
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8391 - loss: 0.4400
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8496 - loss: 0.4183
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8489 - loss: 0.4029
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8514 - loss: 0.4064
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8487 - loss: 0.4073
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8490 - loss: 0.4079
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8472 - loss: 0.4077
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8522 - loss: 0.3953
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 970us/step - accuracy: 0.8571 - loss: 0.3880
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8534 - loss: 0.3957
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8573 - loss: 0.3922
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8539 - loss: 0.3934
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8554 - loss: 0.3856
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8592 - loss: 0.3849
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8527 - loss: 0.3909
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8552 - loss: 0.3914
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8620 - loss: 0.3752
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8610 - loss: 0.3781
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8547 - loss: 0.3840
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8586 - loss: 0.3807
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8583 - loss: 0.3788
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8570 - loss: 0.3838
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8523 - loss: 0.3916
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8602 - loss: 0.3780
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8616 - loss: 0.3788
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8539 - loss: 0.3909
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8654 - loss: 0.3695
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8605 - loss: 0.3770
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 951us/step - accuracy: 0.8594 - loss: 0.3789
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8564 - loss: 0.3832
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8651 - loss: 0.3701
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8596 - loss: 0.3757
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8700 - loss: 0.3643
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8655 - loss: 0.3727
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8635 - loss: 0.3673
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8575 - loss: 0.3728
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 998us/step - accuracy: 0.8592 - loss: 0.3720
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8630 - loss: 0.3680
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8581 - loss: 0.3715
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8609 - loss: 0.3667
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8608 - loss: 0.3790
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 970us/step - accuracy: 0.8593 - loss: 0.3740
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 973us/step - accuracy: 0.8498 - loss: 0.3760
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8538 - loss: 0.3863
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8590 - loss: 0.3673
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8659 - loss: 0.3614
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 968us/step - accuracy: 0.8714 - loss: 0.3647
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 996us/step - accuracy: 0.8537 - loss: 0.3762
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8644 - loss: 0.3669
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8596 - loss: 0.3774
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 987us/step - accuracy: 0.8570 - loss: 0.3710
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 987us/step - accuracy: 0.8555 - loss: 0.3768
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8655 - loss: 0.3648
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8628 - loss: 0.3645
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8626 - loss: 0.3685
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8613 - loss: 0.3640
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8646 - loss: 0.3589
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8615 - loss: 0.3652
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8640 - loss: 0.3592
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8643 - loss: 0.3685
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8643 - loss: 0.3691
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8603 - loss: 0.3595
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8596 - loss: 0.3665
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8557 - loss: 0.3696
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8637 - loss: 0.3642
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8554 - loss: 0.3685
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8651 - loss: 0.3688
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8644 - loss: 0.3646
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8626 - loss: 0.3634
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8652 - loss: 0.3630
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8603 - loss: 0.3649
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8630 - loss: 0.3631
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8607 - loss: 0.3641
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8650 - loss: 0.3577
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8598 - loss: 0.3635
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8562 - loss: 0.3692
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8594 - loss: 0.3701
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8645 - loss: 0.3683
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8605 - loss: 0.3624
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8604 - loss: 0.3655
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8592 - loss: 0.3599
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8675 - loss: 0.3517
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8633 - loss: 0.3612
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8604 - loss: 0.3647
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8607 - loss: 0.3683
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8599 - loss: 0.3631
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8611 - loss: 0.3579
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8598 - loss: 0.3648
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8572 - loss: 0.3695
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8595 - loss: 0.3582
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8623 - loss: 0.3611
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8631 - loss: 0.3604
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [98]:
from tensorflow.keras.callbacks import EarlyStopping

early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
ann.fit(x_train, y_train, batch_size=32, epochs=100, callbacks=[early_stopping], validation_split=0.2)

Epoch 1/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8655 - loss: 0.3484 - val_accuracy: 0.8650 - val_loss: 0.3456
Epoch 2/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8630 - loss: 0.3595 - val_accuracy: 0.8681 - val_loss: 0.3498
Epoch 3/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8677 - loss: 0.3509 - val_accuracy: 0.8700 - val_loss: 0.3468
Epoch 4/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8571 - loss: 0.3650 - val_accuracy: 0.8662 - val_loss: 0.3465
Epoch 5/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8566 - loss: 0.3648 - val_accuracy: 0.8656 - val_loss: 0.3467
Epoch 6/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8530 - loss: 0.3653 - val_accuracy: 0.8687 - val_loss: 0.3462
Epoch 7/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8620 - loss: 0.3681 - val_accuracy: 0.8669 - val_loss: 0.3500
Epoch 8/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8671 - loss: 0.3543 - val_accuracy: 0.8669 - val_loss: 0.3510
Epoch 9/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8631 - loss: 0.3514 - val_accuracy: 0.8675 - val_loss: 0.3487
Epoch 10/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8683 - loss: 0.3504 - val_accuracy: 0.8650 - val_loss: 0.3476
Epoch 11/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8651 - loss: 0.3617 - val_accuracy: 0.8662 - val_loss: 0.3559

In [100]:
from sklearn.metrics import confusion_matrix, classification_report

y_pred = ann.predict(x_test)
y_pred = (y_pred > 0.5)  


print(confusion_matrix(y_test, y_pred))


print(classification_report(y_test, y_pred))

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
[[1540   53]
 [ 235  172]]
              precision    recall  f1-score   support

           0       0.87      0.97      0.91      1593
           1       0.76      0.42      0.54       407

    accuracy                           0.86      2000
   macro avg       0.82      0.69      0.73      2000
weighted avg       0.85      0.86      0.84      2000

In [102]:
from sklearn.metrics import accuracy_score


y_train_pred = ann.predict(x_train)
y_test_pred = ann.predict(x_test)


y_train_pred_binary = (y_train_pred > 0.5).astype(int)
y_test_pred_binary = (y_test_pred > 0.5).astype(int)


train_accuracy = accuracy_score(y_train, y_train_pred_binary)
test_accuracy = accuracy_score(y_test, y_test_pred_binary)

print(f"Training Accuracy: {train_accuracy}")
print(f"Test Accuracy: {test_accuracy}")

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 850us/step
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
Training Accuracy: 0.865125
Test Accuracy: 0.856

In [104]:
test_loss, test_acc = ann.evaluate(x_test, y_test)
print(f"Test Accuracy: {test_acc:.4f}, Test Loss: {test_loss:.4f}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8494 - loss: 0.3664
Test Accuracy: 0.8560, Test Loss: 0.3624

In [106]:
from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix


y_pred = ann.predict(x_test)


y_pred_binary = (y_pred > 0.5).astype(int)


precision = precision_score(y_test, y_pred_binary)
recall = recall_score(y_test, y_pred_binary)
f1 = f1_score(y_test, y_pred_binary)

print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-Score: {f1}")


cm = confusion_matrix(y_test, y_pred_binary)
print("Confusion Matrix:")
print(cm)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
Precision: 0.7644444444444445
Recall: 0.4226044226044226
F1-Score: 0.5443037974683544
Confusion Matrix:
[[1540   53]
 [ 235  172]]

## 6. Predict the exited status for test data

In [109]:
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.to_numpy().reshape(len(y_test),1)),1))

[[0.15 1.  ]
 [0.11 0.  ]
 [0.03 0.  ]
 ...
 [0.04 0.  ]
 [1.   1.  ]
 [0.09 0.  ]]

In [111]:
import pandas as pd


results_df = pd.DataFrame({
    'Predicted Probability': y_pred.flatten(),
    'Actual': y_test.to_numpy()
})


print(results_df.head(10))

   Predicted Probability  Actual
0               0.148989       1
1               0.111659       0
2               0.031550       0
3               0.865784       1
4               0.187573       1
5               0.234634       1
6               0.046175       0
7               0.048843       0
8               0.127787       1
9               0.150788       0

## 7. Compute Classification metrics – confusion Matrix, classification Report

In [114]:

y_pred_binary = (y_pred >= 0.5).astype(int)


conf_matrix = confusion_matrix(y_test, y_pred_binary)

class_report = classification_report(y_test, y_pred_binary)


print("Confusion Matrix:\n", conf_matrix)
print("\nClassification Report:\n", class_report)

Confusion Matrix:
 [[1540   53]
 [ 235  172]]

Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.97      0.91      1593
           1       0.76      0.42      0.54       407

    accuracy                           0.86      2000
   macro avg       0.82      0.69      0.73      2000
weighted avg       0.85      0.86      0.84      2000

## 8. Report the ANN model accuracy

In [117]:
from sklearn.metrics import accuracy_score


y_pred_binary = (y_pred >= 0.5).astype(int)


accuracy = accuracy_score(y_test, y_pred_binary)


print(f"ANN Model Accuracy: {accuracy:.4f}")

ANN Model Accuracy: 0.8560