# ANN Classification model to predict the Customer Churn of different customers.

In [54]:
import numpy as np
import pandas as pd
import tensorflow as tf
url = "C:\\Users\\rohini\\Documents\\ai_learn\\python_learn\\Assignment\\Assignment_1\\Churn_Modelling.csv"
df = pd.read_csv(url)
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### c.Label Encoding or Dummy variable creation for encoding categorical columns?

In [56]:
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv(url)

label_encoder=LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df = pd.get_dummies(df,columns = ['Geography'],drop_first = False)
df[['Geography_France', 'Geography_Germany', 'Geography_Spain']] = df[['Geography_France', 'Geography_Germany', 'Geography_Spain']].astype(int)

df

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,2,15647311,Hill,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,3,15619304,Onio,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,4,15701354,Boni,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,5,15737888,Mitchell,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,1,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,9997,15569892,Johnstone,516,1,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,9998,15584532,Liu,709,0,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,9999,15682355,Sabbatini,772,1,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,10000,15628319,Walker,792,0,28,4,130142.79,1,1,0,38190.78,0,1,0,0

## 3. Select x (independent variable) and y (dependent variable) - Exited(1 or 0)

In [74]:
y = df['Exited']
print(y)

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [76]:
x = df.drop(columns=['Exited'])
df

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,2,15647311,Hill,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,3,15619304,Onio,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,4,15701354,Boni,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,5,15737888,Mitchell,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,1,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,9997,15569892,Johnstone,516,1,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,9998,15584532,Liu,709,0,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,9999,15682355,Sabbatini,772,1,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,10000,15628319,Walker,792,0,28,4,130142.79,1,1,0,38190.78,0,1,0,0

## 4. Split data into training and test data

In [79]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,stratify=y,random_state = 0)

In [81]:
print('\nTraining Features :\n')
print(x_train)
print('\n Testing Features :\n')
print(x_test)
print('\n Training Target :\n')
print(y_train)
print('\nTesting Traget :\n')
print(y_test)

Training Features :

      RowNumber  CustomerId    Surname  CreditScore  Gender  Age  Tenure  \
493         494    15725679       Hsia          531       0   47       6
6839       6840    15768282      Perez          724       1   36       6
170         171    15587562    Hawkins          484       0   29       4
4958       4959    15594502      Zotov          655       1   37       6
4271       4272    15707132      Yudin          465       1   33       5
...         ...         ...        ...          ...     ...  ...     ...
6727       6728    15610416   Christie          745       0   36       9
4674       4675    15689492   Benjamin          850       1   41       1
6399       6400    15738501      Booth          601       1   48       9
872         873    15794549    Andrews          722       0   35       2
8389       8390    15715345  Sergeyeva          743       1   25       6

        Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
493        0.00              1          0               0        194998.34
6839   94615.11              2          1               1         10627.21
170   130114.39              1          1               0        164017.89
4958  109093.41              2          1               0          1775.52
4271       0.00              2          0               1         78698.09
...         ...            ...        ...             ...              ...
6727       0.00              1          1               0         19605.18
4674  176958.46              2          0               1        125806.30
6399  163630.76              1          0               1         41816.49
872   163943.89              2          1               1         15068.18
8389       0.00              2          1               0        129740.11

      Geography_France  Geography_Germany  Geography_Spain
493                  1                  0                0
6839                 0                  1                0
170                  1                  0                0
4958                 1                  0                0
4271                 1                  0                0
...                ...                ...              ...
6727                 1                  0                0
4674                 0                  1                0
6399                 0                  1                0
872                  1                  0                0
8389                 0                  0                1

[8000 rows x 15 columns]

 Testing Features :

      RowNumber  CustomerId    Surname  CreditScore  Gender  Age  Tenure  \
1344       1345    15691104    Kennedy          460       0   40       6
8167       8168    15793135       Wang          713       0   24       7
4747       4748    15702380    De Luca          663       1   64       6
5004       5005    15625092    Colombo          502       0   57       3
3124       3125    15795224         Wu          760       1   39       6
...         ...         ...        ...          ...     ...  ...     ...
9107       9108    15617434        Yen          655       1   38       9
8249       8250    15727421  Anayolisa          586       0   38       6
8337       8338    15568519       Wood          534       1   41       9
6279       6280    15608338  Chiemenam          757       0   55       9
412         413    15686302       Fisk          745       0   31       3

        Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
1344  119507.58              2          1               0         91560.63
8167  147687.24              1          1               1        121592.50
4747       0.00              2          0               1         15876.52
5004  101465.31              1          1               0         43568.31
3124  178585.46              1          1               0         67131.30
...         ...            ...        ...             ...              ...
9107       0.00              1          0               1         90490.33
8249       0.00              2          1               1         37935.83
8337       0.00              2          1               0         13871.34
6279  117294.12              4          1               0         94187.47
412   124328.84              1          1               1        140451.52

      Geography_France  Geography_Germany  Geography_Spain
1344                 0                  1                0
8167                 0                  1                0
4747                 0                  0                1
5004                 0                  1                0
3124                 1                  0                0
...                ...                ...              ...
9107                 0                  0                1
8249                 1                  0                0
8337                 1                  0                0
6279                 0                  0                1
412                  0                  0                1

[2000 rows x 15 columns]

 Training Target :

493     1
6839    0
170     0
4958    0
4271    0
       ..
6727    1
4674    0
6399    1
872     0
8389    0
Name: Exited, Length: 8000, dtype: int64

Testing Traget :

1344    1
8167    0
4747    0
5004    1
3124    1
       ..
9107    0
8249    0
8337    0
6279    1
412     0
Name: Exited, Length: 2000, dtype: int64

In [83]:
x_train=x_train.drop(columns=['Surname'])
x_test=x_test.drop(columns=['Surname'])

In [85]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)